# -*- mode: snippet -*-
# name: hack-comment
# uuid: hack-comment
# key: hack-comment
# condition: t
# expand-env: ((yas-indent-line 'fixed))                     
# --

/* ------------------------------------------------------------
 * Last Modifier：Loki Huang
 * Last Midified Data：`(format-time-string "%Y-%m-%d")`
 * Description：$1
 * ------------------------------------------------------------ */
 $0